@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

body {
  background: #004fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: calc(.01rem + 1.5rem );
}

.TodoWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #094d92;
  border-radius: 10px;
  padding: 2rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #6fae70;
  padding: .3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:62.5%;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
}

.todo-input::placeholder {
  color: rgba(245, 245, 245, 0.315);
}

.todo-btn {
  background: #6fae70;
  color: #fff;
  border: none;
  padding: 0.39rem;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

hr{
  width: 75%;
}

.Todo {
  display: flex;
  justify-content: space-between;
  width: 95%;
  background: #6fae70;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;

}

.incompleted {
  color: white;
  cursor: pointer;
  word-wrap: break-word;
}

.completed {
  color: rgb(168, 0, 0);
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 

@media (min-width:475px) {
  .todo-btn {
    padding: 0.55rem;
    cursor: pointer;
    border-radius: 0rem .5rem .5rem 0rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  .todo-input {
    border-radius: 10px 0px 0px 10px;
  }
  h1 {
    font-size: calc(.4rem + 1.5rem );
  }
}
@media (min-width:640px) {
  
}
@media (min-width:768px) {
  .todo-input {
  height: 2.2rem;
  }
  .TodoWrapper {
     width: 60rem;
  }
  h1 {
    font-size: calc(2rem + 1.5rem );
  }

  .Todo {
   width: 75%;
  }
}
@media (min-width:1280px) {
  
}
@media (min-width:1536px) {
  
}








